<!DOCTYPE html>
<html>

<head>
    <title>Raspimusik</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <h1>Raspimusik</h1>

    <iframe name="iframe" style="display:none;"></iframe>

    <button class="btn">a</button>

    <form class="form-group" action="/play" method="post" target="iframe">
        <button class="btn btn-primary" type="submit" value="Play"><span class="glyphicon glyphicon-play-circle"></span></button>
    </form>

    <form action="/pause" method="post" target="iframe">
        <button class="btn btn-primary" type="submit" value="Pause"><span class="glyphicon glyphicon-pause"></span></button>
    </form>

    <form action="/volUp" method="post" target="iframe">
        <button class="btn btn-primary" type="submit" value="+"></button>
    </form>

    <form action="/volDown" method="post" target="iframe">
        <button class="btn btn-primary" type="submit" value="-"></button>
    </form>

    <ul>
        <% songs.forEach(function(song) { %>

        <form action="/song" method="post" target="iframe">
            <button readonly class="btn btn-primary" type="submit" value='<%=song %>' name='title'></button>
        </form>
        <% }); %>
    </ul>

</body>

</html>