<!DOCTYPE html>
<html>

<head>
    <title>Raspimusik</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="col-md-2">
        <h1>Raspimusik</h1>

        <iframe name="iframe" style="display:none;"></iframe>

        <form class="form-group" action="/play" method="post" target="iframe" style="float: left">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-play-circle"></span></button>
        </form>

        <form action="/pause" method="post" target="iframe">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pause"></span></button>
        </form>

        <form action="/volDown" method="post" target="iframe" style="float: left">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-volume-down"></span></button>
        </form>

        <form action="/volUp" method="post" target="iframe">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-volume-up"></span></button>
        </form>

        

        <ul>
            <% songs.forEach(function(song) { %>

            <form action="/song" method="post" target="iframe">
                <button readonly class="btn btn-secondary" type="submit" value='<%=song %>' name='title'><%=song %></button>
            </form>
            <% }); %>
        </ul>
    </div>
</body>

</html>